.card-header-link {
    text-decoration: none;
    color: #4d5156;
    display: block;
    width: fit-content;
}

.card-title {
    margin: 0;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.card-title > a {
    color: #1a0dab;
    text-decoration: none;
}

.card-title > a:hover {
    text-decoration: underline;
}

.card-title > a:visited {
    color: #681da8;
}

.card-body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-header {
    display: flex;
    flex-direction: row;
}

.card-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-info span {
    display: block;
    width: 100%;
    font-size: 0.90rem;
}

.other-info {
    font-size: 0.9rem;
}