@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

h1{
    text-align: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2.5rem;
    margin-bottom: 20px;
}

.intro-container div {
    min-width: 100%;
    border: 1px solid black;
    padding: 0 20px 20px 20px;
    background-color: white;
    font-size: 1.2rem;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.intro-container span {
    text-decoration: underline;
}

.searchBar {
    display: flex;
    justify-content: center;
}

.searchBar input {
    width: 25rem;
    padding: 0 1.5rem;
    border-radius: 20px 0 0 20px;
    font-size: 1.1rem;
    padding: 10px 20px;
    border:1px solid #dcdcdc;
}

.searchBar input:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchBar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 0 20px 20px 0;
    font-size: 1.1rem;
    border:1px solid #dcdcdc;
}

.searchBar button:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchBar button:hover {
    cursor: pointer;
}

.result-container {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.result-container .zoom {
    transition: transform .2s; /* Animation */
}

.result-container .zoom {
    transform: scale(1.05);
}

.git-link {
    display: flex;
    align-items: center;
}

.chart-container {
    padding: 0 10%;
}

@media only screen and (max-width: 800px) {
    .chart-container {
        padding: 0 0;
    }
}
